/*    Basic styling     */
body {
  width: 80%;
  margin: 0 auto;
}

h3{
  text-align: center;
  text-decoration: underline;
}

label::before, input::after {
  content: "\A";
  white-space: pre;
}

button{
  text-align: center;
  padding: 3px;
  margin: 3% 3% 3% 0;
}

th {
  text-decoration: underline;
}

#img {
  height: 280px;
  width: 430px;
}

/* Testing */

/* ENDS Testing */
