/*    Basic styling     */
body {
  color: white;
  background-color: #222629;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;

  background-image: url("../src/bg.jpg");
  background-size:     cover;               
  background-repeat:   no-repeat;
  background-position: center center;
  background-attachment: fixed;
}



/* ******************************* */
.headerElement {
  background-color: #97190c;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 0px 10px white;
  display: inline;
}

.headerElement:hover {
  filter: brightness(85%);

  transition: ease !important;
  transition-duration: 0.3s !important;
}
/* ******************************* */

#about, #tableOfContent {
  background-color: #474b4f;
  opacity: 0.9;
}

#about, #tableOfContent, #selectionBased {
  border-radius: 3%;
}

#selectionBased {
  opacity: 0.9;
}

#tableOfContent {
  border-style: double;
  border-color: #97190c;
}
/* ************************ */

.links a {
  color: aliceblue !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-weight: bolder;
}

.links a:hover {
  color: white !important;
  text-decoration: underline;

  transition: ease !important;
  transition-duration: 0.4%s !important;
}

a, a:visited {
  color: rgb(28, 172, 215);
}
a:hover {
  color: #86c323;
  font-weight: bold;

  transition: ease !important;
  transition-duration: 0.4s !important;
}

header {
  text-align: center;
  color: aliceblue;
}

.footerElement {
  color: aliceblue;
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  text-decoration: underline;
}

h3{
  text-align: center;
  text-decoration: underline;
}

/* ******************************* */

.bio {
  background-color: inherit;
}

.bio td {
  border: none;
}

.bio:hover, .bio #rno:hover {
  filter: brightness(185%);
  backdrop-filter: glow;

  transition: ease !important;
  transition-duration: 0.6s !important;
}
.bio #rno:hover {
  color: rgb(28, 172, 215);
  font-weight: bold;

  transition: ease !important;
  transition-duration: 0.4s !important;
}

/* ************************ */
h1:hover {
  color: rgb(28, 172, 215);

  transition: ease !important;
  transition-duration: 0.6s !important;
}

h1:hover::before {
  content: "[ ";
  color: rgb(28, 172, 215);

  transition: ease !important;
  transition-duration: 0.4s !important;
}
h1:hover::after {
  content: " ]";
  color: rgb(28, 172, 215);
}

h1::before {
  content: "[ ";
  color: #97190c;
}
h1::after {
  content: " ]";
  color: #97190c;
}
/* ************************ */
#about ul {
  border-left: solid #6b6e70;
}
/* ************************ */
h4:hover {
  color: white;

  transition: ease !important;
  transition-duration: 0.4s !important;
}

ul li {
  color: white;
}

h4 {
  color: #ba83fa;
  text-decoration: underline;
}
ul {
  color: #ba83fa;
}
/* ************************ */

table {
  border: 1px solid rgb(28, 172, 215);
  background-color: rgb(0, 0, 0, 0.3);
}
th {
  color: rgb(28, 172, 215);
  text-decoration: underline;
}
td, th {
  border: 1px solid rgb(28, 172, 215);
}
tr:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;

  transition: ease !important;
  transition-duration: 0.6s !important;
}

/* *********************** */

button{
  text-align: center;
  padding: 3px;
  margin: 3% 3% 3% 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  box-shadow: none;
}

#img {
  height: 280px;
  width: 430px;
}

/* ************** */
#authorName {
  color: rgb(28, 172, 215);
}

.dependancies {
  border: 2px dotted;
}

code::before, code::after {
  content: "\00a0";
}

code {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: black;
  padding: 1px;
  background-color: grey;
}